<head>
    <script src="https://kit.fontawesome.com/3b161c540c.js" crossorigin="anonymous"></script>
</head>

<body>
    <footer class="footer">
        <div class="container row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">visit website</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">Fast Delivery</a></li>
                    <li><a href="#">Refund</a></li>
                    <li><a href="#">Wallet</a></li>
                    
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#">
                        <img src="assets\facebook.svg" alt="facebook-logo" >
                    </a>
                    <a href="#">
                        <img src="assets\instagram.svg" alt="instgram-logo">
                    </a>
                
                    <a href="#">
                        <img src="assets\twitter.svg" alt="twitter-logo">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
