<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular Image Page</title>
</head>
<body>
<div class="pagewidth">
  <img src="assets\food5.jpeg" alt="Your Image">
  <div class="text-overlay">Enjoy Your Healthy Delicious Meal</div>
  <div class="text-overlay1">Treat Yourself</div>
  <div class="text-overlay2">Explore delectable dishes and discover your next food adventure with YUMYARD</div>
  <button class="button-34" role="button">Explore Now</button>
</div>

<br>
<br>

<div class="container">
    <div class="text-overlay3">Browse Categories</div>
  <hr class="linecls">
    <div class="gallery">
        <a target="_blank" href="assets\f1.jpg">
            <img src="assets\f1.jpg" alt="food-image" width="250px" height="200px">
        </a>
        <div class="desc">text</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="assets\f2.jpg">
            <img src="assets\f2.jpg" alt="food-image" width="250px" height="200px">
        </a>
        <div class="desc">text</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="assets\f4.jpeg">
            <img src="assets\f4.jpeg" alt="food-image" width="250px" height="200px">
        </a>
        <div class="desc">text</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="assets\f6.jpg">
            <img src="assets\f6.jpg" alt="food-image" width="250px" height="200px">
        </a>
        <div class="desc">text</div>
    </div>
</div>
<div class="container">
    <div class="gallery">
        <a target="_blank" href="assets\f1.jpg">
            <img src="assets\f1.jpg" alt="food-image" width="250px" height="200px">
        </a>
        <div class="desc">text</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="assets\f2.jpg">
            <img src="assets\f2.jpg" alt="food-image" width="250px" height="200px">
        </a>
        <div class="desc">text</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="assets\f4.jpeg">
            <img src="assets\f4.jpeg" alt="food-image" width="250px" height="200px">
        </a>
        <div class="desc">text</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="assets\f6.jpg">
            <img src="assets\f6.jpg" alt="food-image" width="250px" height="200px">
        </a>
        <div class="desc">text</div>
    </div>
</div>

</body>
</html>
